@import 'pace';

#map {
  height: 100%;
  width: 100%;
  position: fixed !important;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-color: #16243b;
}

html, body {
  height: 100%;
  margin: 0;
  z-index: 0;
  padding: 0;
  background-color: #16243b;
}
// .side-nav{
//   z-index: 3;
// }
.site_logo{
  position: relative;
  display: inline;
  margin: 0 80px 0 80px;
  z-index: 1;
  text-align: center;
}
.logout{
  position: relative;
  color: #e64b5f !important;
  font-size: 15px;
  text-align: right;
  // float: right;
  margin: 0 17px;
  left: 137px;
  display: inline-block;
}
.intro p{
  color: white;
}
.here{
    color: #e64b5f !important;
}
.greetingCase{
  color: white;
  font-size: 20px;
  margin: 50px 15px;
  height: 50px;
}
.sidebar {
position: relative;
background-color: #16243b;
z-index: 2;
width: 240px;
height: 100%;
display: inline-block;
font-style: 'Helvetica Neue';
overflow: auto;
margin: 0;
padding: 0;
}
.monzo h3 {
  color: #9abda9;
}
.monzo p {
  color: #ead19f;
  font-size: 12px;
  margin-top: 60px;
}
.emoji{
  font-size: 30px;
}
.infoWindowText{
  font-family: 'BlinkMacSystemFont';
}
.multiMarker{
  list-style: none;
  text-align: center;
}
.multiMarker img{
  list-style: none;
  text-align: center;
  margin: 2px;
  border-radius: 5px;
}
.price{
  color: #1e788c;
  font-size: 30px;
  text-align: left !important;
}
.intro{
  margin: 10px 15px;
}
.key p{
  font-size:4px;
}
.transactionInfo{
  background-color: #fcf1db;
  margin: 5px 15px;
  border-radius: 2px;
}
.transactionInfo p{
  margin: 0;
  padding: 0 5px;
  text-align: right;
}
.aggregateTransaction{
  background-color: #9abda9;
  margin: 10px 15px;
  border-radius: 2px;
  padding: 5px;
}
.aggregateTransaction h4{
  text-align: center;
}
.form-control{
  // width: 90%;
  // margin: 5px;
}
// .monzo_form{

// }

.button{
  width: 100%;
  margin: 5px 0;
  height: 40px;
  padding: 6px;
}
.login_sidebar{
margin: 50px 5px 0 5px;
width: 90%;
}
.info{
  margin: 10px 0;
}
// .sidebar__heading {
//     margin-bottom: $spacing;
// }

.transactionInfo li {
  list-style-type: none;
}
