#map {
  height: 90%;
  width: 100%;
  position: fixed !important;
  bottom: 0;
  left: 0;
  background-color: #16243b;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 80%;
  margin: 0;
  padding: 0;
  background-color: #16243b;
}
// .side-nav{
//   z-index: 3;
// }
.site_logo{
  position: absolute;
  display: inline;
  left: 46%;
  margin: 0 auto;
  z-index: 1;
  text-align: center;
}
.logout{
  color: white;
  font-size: 15px;
}
.greeting{
  color: white;
  font-size: 20px;

}
.sidebar {
background-color: #16243b;
width: 20%;
height: 100%;
}

// .sidebar__heading {
//     margin-bottom: $spacing;
// }

.transactionInfo li {
  list-style-type: none;
}
