#map {
  height: 50%;
  width: 100%;
  position: fixed !important;
  bottom: 0;
  left: 0;

  @media screen and (min-width: 750px) {
      height: 100%;
      width: calc(100% - 350px);
      left: 350px;
      top: 0;
  }
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #16243b;
}
// .side-nav{
//   z-index: 3;
// }
.site_logo{
  position: relative;
  left: 45%;
  display: block;
  z-index: 1;
    text-align: center;
}
.burger{
  z-index: 1;
}
.sidebar {
    width: 100%;
    height: 50%;
    padding: 20px;

    overflow-y: scroll;
    overflow-x: hidden;

    background: #fff;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;

    @media screen and (min-width: 750px) {
        width: 350px;
        height: 100%;

        top: 0;
        bottom: 0;
    }
}

.sidebar__heading {
    margin-bottom: $spacing;
}
// #floating-panel {
//   position: absolute;
//   top: 10px;
//   left: 25%;
//   z-index: 5;
//   background-color: #fff;
//   padding: 5px;
//   border: 1px solid #999;
//   text-align: center;
//   font-family: 'Roboto','sans-serif';
//   line-height: 30px;
//   padding-left: 10px;
// }
// #floating-panel {
//   background-color: #fff;
//   border: 1px solid #999;
//   left: 25%;
//   padding: 5px;
//   position: absolute;
//   top: 10px;
//   z-index: 5;
// }
